.tags_cloud {
  margin-block-end: 50px;
  margin-block-start: 50px;
}

.tags_cloud__description {
  width: 75%;
}

.tags_cloud__list {
  margin-block-start: 30px;
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
}

.tags_cloud__list-item-link {
  text-decoration: none;
  opacity: 0.6;
}

.tags_cloud__list-item-link:hover {
  border-block-end: 1px solid currentColor;
}


@media (width <= 768px) {
  .tags_cloud {
    width: 100%;
  }
}
