.page__title {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.375rem, 0.5805rem + 3.3898vw, 2.75rem);;
  line-height: clamp(1.75rem, 0.8472rem + 3.8521vw, 3.3125rem);
  margin-block-end: 20px;
}

.members {
  margin-block-end: 50px;
}

.members__title {
  font-weight: 600;
  font-size: clamp(1.25rem, 1.1055rem + 0.6163vw, 1.5rem);
  line-height: clamp(1.5625rem, 1.418rem + 0.6163vw, 1.8125rem);
}

.members__list {
  display: flex;
  flex-direction: column;
  gap: clamp(0.625rem, -0.2778rem + 3.8521vw, 2.1875rem);
}

.members__list-item {
  padding: clamp(0.625rem, -0.2778rem + 3.8521vw, 2.1875rem) clamp(0.625rem, -0.4584rem + 4.6225vw, 2.5rem);
  display: flex;
  gap: clamp(1.5625rem, -0.2432rem + 7.7042vw, 4.6875rem);
}

.member__profile-picture {
  object-fit: cover;
  object-position: center;
  width: clamp(6.25rem, -0.9727rem + 30.8166vw, 18.75rem);
  height: clamp(6.25rem, -0.9727rem + 30.8166vw, 18.75rem);
}

.member__info-name {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.25rem, 0.5277rem + 3.0817vw, 2.5rem);
  line-height: clamp(1.5rem, 0.6333rem + 3.698vw, 3rem);
}

.member__info-contact {
  display: inline-block;
  margin-block: clamp(0.625rem, -0.0973rem + 3.0817vw, 1.875rem) clamp(0.9375rem, -0.3265rem + 5.3929vw, 3.125rem);
  font-style: normal;
  font-size: 16px;
  line-height: 132%;
  text-decoration: none;
  border-block-end: 1px solid transparent;
}

.member__info-contact:hover {
  border-block-end: 1px solid currentColor;
}

.articles__list-title {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1rem, 0.8555rem + 0.6163vw, 1.25rem);
  line-height: clamp(1.25rem, 1.1055rem + 0.6163vw, 1.5rem);
  margin-block-end: 20px;
}

.articles__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article-link {
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 132%;
  border-block-end:  1px solid transparent;
}

.article-link:hover {
  border-block-end:  1px dashed currentColor;
}

.member__info-position {
  font-size: 16px;
  line-height: 132%;
}

@media (width <= 425px) {
  .members__list-item {
    flex-direction: column;
  }
}