.articleLayout {
  display: grid;
  grid-template:
    "meta toc" auto
    "content toc" 1fr / 3fr 1fr;
  align-items: start;
  column-gap: clamp(1.25rem, -21.25rem + 46.88vw, 8.75rem);
}

@media (width <= 768px) {
  .articleLayout {
    grid-template:
      "meta" auto
      "toc" auto
      "content" auto;
  }
}
