.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-start: 50px;
  padding-left: 0;
  font-size: clamp(0.75rem, 0.61rem + 0.6vw, 1rem);
}

.ol {
  list-style: decimal;
  list-style-position: outside;
}

.ul {
  list-style: "- ";
  list-style-position: outside;
}

@media (width < 768px) {
  .list {
    margin-inline-start: 30px;
  }
}
