.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-start: 50px;
  padding-left: 0;
  font-size: 16px;
}

.ol {
  list-style: decimal;
  list-style-position: outside;
}

.ul {
  list-style: "- ";
  list-style-position: outside;
}

@media (width < 768px) {
  .list {
    margin-inline-start: 30px;
    font-size: 14px;
  }
}
