.article__title {
  font-weight: var(--title-font-weight, 700);
  font-size: clamp(1.125rem, 0.5rem + 3.125vw, 2.5rem);
  line-height: clamp(1.3125rem, 0.5455rem + 3.8352vw, 3rem);
}

.article__tags-list {
  margin-block: 30px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.article__tags-list__item-link {
  font-size: 16px;
  line-height: 132%;
  color: var(--tag__link-text-color);
  text-decoration: none;
  text-wrap: nowrap;
}

.article__author {
  font-size: 16px;
  line-height: 132%;
}

.article__text {
  margin-block-start: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text-section__subtitle {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-block-end: 10px;
}

.text-section__paragraph {
  display: inline-block;
  font-size: 18.5px;
  line-height: 132%;
}

.article__text-section .text-section__paragraph:not(:last-of-type) {
  margin-block-end: 21px;
}

.accent__section {
  margin-inline-start: 50px;
}

.accent__section-subtitle {
  display: inline-block;
  padding: 4px 6px;
  color: var(--accent__section-text-color);
  background-color: var(--accent__section-bg-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.before__list {
  margin-block-end: 21px;
}

.after__list {
  margin-block-start: 21px;
}

.text-section__list {
  margin-inline-start: 50px;
  list-style: none;
}

.text-section__ol-list {
  list-style: decimal;
  margin-inline-start: 60px;
}

.text-section__list-item {
  font-size: 18.5px;
  line-height: 132%;
}

.dash::before {
  content: "-";
  padding-right: 5px;
}
