:root {
  /* переменные, связанные с цветом */
  --black: #000000;
  --green: #b4d93b;
  --white: #ffffff;
  --violet: #6200be;
  --orange: #fd7f52;
  --grey: #4c4c4c;
  --light-grey: rgb(0 0 0 / 5%);

  /* переменные, связанные с текстом */
  --main-font: "Inter-Variable";
  --main-text-color: var(--black);
  --path-link-text-color: var(--grey);
  --main-font-weight: 400;
  --title-font-weight: 600;
  --accent-section-text-color: var(--white);
  --accent-section-bg-color: var(--orange);
  --bq-border-color: var(--green);
  --p-link-color: var(--violet);
  --bq-source-color: var(--grey);

  /* переменные, связанные с цветами фонов блоков */
  --bg-color: var(--white);
  --header-bg-color: var(--green);
  --footer-bg-color: var(--green);
}
