.app {
  min-height: 100%;
}

.content {
  margin-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1440px;
  min-height: 80vh;
  margin-inline: clamp(1.57rem, 0.72rem + 3.77vw, 3.13rem);
}

@media (width > 1440px) {
  .content {
    justify-self: center;
  }
}
