/* оформление шапки сайта */

.header {
  width: 100%;
  background-color: var(--header-bg-color);
  display: grid;
  grid-template-columns: 8fr min-content min-content;
  align-items: center;
  padding-block: 14px;
  padding-inline-start: clamp(0.625rem, -0.0893rem + 3.5714vw, 3.125rem);
  padding-inline-end: clamp(0.3125rem, 0.0446rem + 1.3393vw, 1.25rem);
}

.project-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.5rem, 0.7777rem + 3.0817vw, 2.75rem);
  line-height: clamp(1.75rem, 0.8472rem + 3.8521vw, 3.3125rem);
  width: fit-content;
}

.header__button {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 0;
  align-items: center;
}

.search__button {
  margin-inline-end: 20px;
}

.header__button svg{
  fill: var(--black);
}

.search__icon {
  width: 54px;
  height: 54px;
}

.menu__icon {
  width: 54px;
  height: 50px;
}


@media (width <= 768px) {
  .header__button {
    max-width: 40px;
    max-height: 40px;
  }

  .search__button {
    margin-inline-end: 5px;
  }

  .search__icon {
    width: 40px;
    height: 35px;
  }

  .menu__icon {
    width: 40px;
    height: 45px; 
  }

  .menu__icon path {
    transform: scale(0.6);
    transform-origin: center;
  }
}