/* оформление каркаса основной части страницы */

.content {
  padding-inline: clamp(0.625rem, -0.0893rem + 3.5714vw, 3.125rem);
  max-width: 1440px;
}

@media (width > 1440px) {
  .content {
    justify-self: center;
  }
}